/*
 t3CMS:admin.css
 Administration style sheet
 TODO: Standards compability!
*/

html,body {width:100%;height:100%;margin:0px}

*{font-family:sans-serif}

#tcont {width:100%;height:100%;}
#thead {height: 50px;border-bottom: 1px black solid; background-color: #444}
#thead h1 {margin:0px;margin-left: 10px; color: #eee;font-size:26px; text-shadow: #222 1px 1px;display:inline}
#thead h2 {margin:0px;font-size:14px;color:#eee;display:inline;margin-left:10px}
#thead table tr td {vertical-align: middle}
#tmenu {width:220px; padding: 5px; padding-top:0px; vertical-align: top; border-right: 1px black solid;
    font-family: sans-serif; font-size: 13px}
#tmenu a {color: #222; text-decoration: none; display: block;
    width: 190px; background: #eee; padding: 5 9 5 9px; border: 1px #ccc solid; border-width: 0 1 0 1px}
#tmenu a.add {border-top: 1px #ddd solid; background: #f8f8f8; text-align: right;
    border-radius: 0 0 10 10px; -moz-border-radius: 0 0 10 10px}
#tmenu a:hover {background: #70c0ff}
#tmenu a.add:hover {background: #eee}
#tmenu b {margin-top: 10px; color:#333; background: #ddd; text-align: center; display: block;
    width: 210px; padding: 5 0 5 0px;  text-shadow: #999 1px 1px;
    border-radius: 10 10 0 0px; -moz-border-radius: 10 10 0 0px}
#tmenu b.end {
    border-radius: 0 0 10 10px; -moz-border-radius: 0 0 10 10px; margin-top: 0px; height: 10px;
}
#tmenu div {padding:4px;overflow:hidden}
#error {
    position: fixed; background: #f00;
    color: #000; font-size: 22px;
    font-weight: bold; top: 0px; left:0px;
    width:100%; font-family: sans-serif;
    text-align: center; padding: 5px;
}
#error a { color: black!important; text-decoration: underline!important }
.edittab { border: 1px #888 solid; border-bottom: 0px; background: #ddd; color: black;
    padding: 6px; text-decoration: none; margin-right:5px; font-size: small; font-weight: bold;
    padding: 4 12 7 12px;
    -moz-border-radius: 5 5 0 0px; border-radius: 5 5 0 0px}
.tabactive { border: 1px #bbb solid; border-bottom: 0px; background: #eee; color: black; padding-bottom: 8px }
.butlink {
    display:inline; padding:3px; margin: 0px;
    padding-left: 10px; padding-right: 10px;
    -moz-border-radius: 10px; border-radius: 10px;
    border: 1px #888 solid; background: #ddd; color: #333;
    text-align: center; font-weight: bold; font-size: small;
    text-decoration: none;
}
.butdanger {
    background: #eaa;
}
.butlink:hover { background: #eee; color: #000 }
.butdanger:hover {background: #fdd; color: #000}

#content {
    width: 100%; height: 100%;
}

#settings {

}

.tabcontainer h3 {padding: 20px; font-size: 22px; margin: 0px}

.tabcontainer {
    background: #eee; border: 1px #bbb solid; height:100%
}